In [2]:
import pandas as pd
from datetime import datetime, timedelta # timedelta represent the difference between two datetime objects also used to find the time difference of two years etc.
import yfinance as yf

## 1. Define Tickers and Time Range

* Retrieving the tickers based on the tickers and time range.

In [3]:
# Define the list of tickers
tickers = ['^GSPC']

In [4]:
# Set the end date to today
end_date = datetime.today()
print(end_date)

2023-06-10 03:12:15.735385

In [5]:
# Set the start date from 2 years ago
start_date = end_date - timedelta(days=2*365)
print(start_date)

2021-06-10 03:12:15.735385

## 2. Download Close Prices

In [6]:
# Create an empty dataframe to store the close prices
close_df = pd.DataFrame()

In [7]:
# Download the close prices for each ticker
for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date)
    close_df[ticker] = data['Close']
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-10,4228.560059,4249.740234,4220.339844,4239.180176,4239.180176,4408210000
2021-06-11,4242.899902,4248.379883,4232.250000,4247.439941,4247.439941,3815010000
2021-06-14,4248.310059,4255.589844,4234.069824,4255.149902,4255.149902,4151200000
2021-06-15,4255.279785,4257.160156,4238.350098,4246.589844,4246.589844,4048940000
2021-06-16,4248.870117,4251.890137,4202.450195,4223.700195,4223.700195,4538350000
...,...,...,...,...,...,...
2023-06-05,4282.990234,4299.279785,4266.819824,4273.790039,4273.790039,3813290000
2023-06-06,4271.339844,4288.330078,4263.089844,4283.850098,4283.850098,3996560000
2023-06-07,4285.470215,4299.189941,4263.959961,4267.520020,4267.520020,4537800000
2023-06-08,4268.689941,4298.009766,4261.069824,4293.930176,4293.930176,3826740000
2023-06-09,4304.879883,4322.620117,4291.700195,4298.859863,4298.859863,2141505000

## 3. Display the DataFrame

In [8]:
close_df

                  ^GSPC
Date
2021-06-10  4239.180176
2021-06-11  4247.439941
2021-06-14  4255.149902
2021-06-15  4246.589844
2021-06-16  4223.700195
...                 ...
2023-06-05  4273.790039
2023-06-06  4283.850098
2023-06-07  4267.520020
2023-06-08  4293.930176
2023-06-09  4298.859863

[504 rows x 1 columns]